[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group adp-gs-servicemesh-admins
	read = group ADP-Readers
	read = group GitCA_Replication_DO_NOT_REMOVE
	read = group Replication_Gamma_Migration_DO_NOT_REMOVE
	read = group adp-gs-servicemesh-team
	label-Code-Review = -1..+1 group ADP-Readers
	label-Code-Review = -1..+1 group adp-gs-servicemesh-team
	label-Code-Review = block -2..+2 group Change Owner
	label-Verified = -1..+1 group user/User for ADP Hub Aachen (adpuser)
	label-Ready-for-Review = -1..+1 group Change Owner
	submit = group adp-gs-servicemesh-guardians
[access "refs/for/*"]
	push = group ADP-Readers
	push = group adp-gs-servicemesh-team
[receive]
	requireSignedOffBy = false
	requireChangeId = true
	createNewChangeForAllNotInTarget = false
	rejectImplicitMerges = false
[submit]
	action = rebase if necessary
	mergeContent = false
[access "refs/heads/${username}/*"]
	create = group adp-gs-servicemesh-team
	delete = group adp-gs-servicemesh-team
	push = +force group adp-gs-servicemesh-team
	pushMerge = group adp-gs-servicemesh-team
	submit = group adp-gs-servicemesh-team
	forgeAuthor = group adp-gs-servicemesh-team
	forgeCommitter = group adp-gs-servicemesh-team
	label-Verified = -1..+1 group adp-gs-servicemesh-team
	label-Code-Review = -2..+2 group adp-gs-servicemesh-team
[access "refs/for/refs/heads/${username}/*"]
	pushMerge = group adp-gs-servicemesh-team
[access "refs/heads/*"]
	create = group adp-gs-servicemesh-admins
[access "refs/tags/*"]
	create = group user/User for ADP Hub Aachen (adpuser)
	createTag = group user/User for ADP Hub Aachen (adpuser)
	createSignedTag = group user/User for ADP Hub Aachen (adpuser)
	forgeCommitter = group user/User for ADP Hub Aachen (adpuser)
	push = group user/User for ADP Hub Aachen (adpuser)
[access "refs/for/refs/heads/shared/*"]
	pushMerge = group adp-gs-servicemesh-team
[access "refs/heads/shared/*"]
	create = group adp-gs-servicemesh-team
	delete = group adp-gs-servicemesh-team
	forgeAuthor = group adp-gs-servicemesh-team
	forgeCommitter = group adp-gs-servicemesh-team
	push = +force group adp-gs-servicemesh-team
	pushMerge = group adp-gs-servicemesh-team
	label-Code-Review = -2..+2 group adp-gs-servicemesh-team
	label-Verified = -1..+1 group adp-gs-servicemesh-team
	submit = group adp-gs-servicemesh-team
[label "Ready-for-Review"]
	function = NoBlock
	value = -1 On hold
	value =  0 Work in progress
	value = +1 Ready for review
	defaultValue = 0
[access "refs/meta/config"]
	label-Code-Review = -2..+2 group adp-gs-servicemesh-admins
	label-Verified = -1..+1 group adp-gs-servicemesh-admins
[plugin "data-owner"]
	DataOwner = emarkrs
	DataOwnerDepartment = BCSS CNE PDU CLC GS Dev EED
[plugin "its-jira"]
	enabled = false
[plugin "its-mhweb"]
	enabled = false
[plugin "eiffel"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnames = false
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
